*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: auto;
    
}

li,a{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:white;
    text-decoration: none;
     
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    flex-direction: row;
    background-color: #404eed;
}
.logoimg{
    cursor: pointer;
    height: auto;
    max-width: 10%;
}

.navs{
    list-style: none;
}
.navs li{
    display: inline-block;
    padding:0px 20px;
}
.navs li a{
    transition: all 0.6s ease 0s;

}
.navs li a:hover{
    color: #7CC6FE;
    
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 30px;
  }

  /* Primeira parte */
  .conteudoprin{
    display: flex;
    background-color: #404eed;
    
}
 .boldtxt{
    font-family: 'Roboto', sans-serif;
    color: white;
   padding-left: 200px;
    text-align: center;
 }
 .paratxt{
    font-family: 'Roboto', sans-serif;
    color: white;
    align-self: center;
    text-align: center;
    
 }



/* Segunda parte do site*/


.faixa-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;

    background-color: #fff;
    padding: 110px 0px;
}


.f2conteudo {
    display: flex;
    flex-direction: column;
    width: 380px;
}

.f2conteudo > h1 {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    line-height: 58px;
    margin: 0px;
}

.f2conteudo > p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px  ;
    color: #6c6e6f;
    line-height: 34px;
}

/* Conteudo 3 do site */
.faixa-3{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;

    padding: 110px 0px;
}

.f3conteudo {
    display: flex;
    flex-direction: column;
    width: 380px;
}

.f3conteudo > h1 {
    
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    line-height: 58px;
    margin: 0px;
}

.f3conteudo > p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px ;
    color: #6c6e6f;
    line-height: 34px;
}

/* Parte 4 do site */
.faixa-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;

    background-color: #fff;
    padding: 110px 0px;
}

.f4conteudo {
    display: flex;
    flex-direction: column;
    width: 380px;
}

.f4conteudo > h1 {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    line-height: 58px;
    margin: 0px;
}

.f4conteudo > p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px ;
    color: #6c6e6f;
    line-height: 34px;
}

/* Parte 5 do site */
.faixa-5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
    
    
    padding: 110px 0px;
}

.f5-imagem{
    padding-left: 500px;
}

.f5conteudo {
    padding-left: 500px;
    padding-right: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f5conteudo > h1 {
    
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    line-height: 58px;
    margin: 0px;
    
}

.f5conteudo > p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px ;
    color: #6c6e6f;
    line-height: 34px;
    width: 1500px;
}

/* parte 6 */
.faixa-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
}

.f6conteudo{
    font-family: 'Roboto',sans-serif;
    text-align: center;
}


.button1{
    background-color: #5865f2;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;

}
